{% block content %}
<div class=" container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <label for="type-select">Choose data type:</label>

      <select name="data type" id="type-select">
      <option value="">--Please choose an option--</option>
      <option value="Train set">Train set</option>
      <option value="Test set">Test set</option>
          <option value="MC set">MC set</option>

      </select>
<br>


        <input type="file" name="avatar" multiple="multiple"
        >
        <input type="submit" value="提交">
    </form>
</div>
{% endblock %}
